
#searchbar{
      width: 75%;;

    }

#totalUsers{
    text-align: center;

}

#userInfo{
    justify-content: center;
    text-align: center;

}


#userError{
    color: red;
}


#historyCard{
    width:98%;
}


#historyTable{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width:90%;
}

.historyRadio{
    margin-left: 2%;
    margin-right: 2px;
}

