#userInfo{
    justify-content: center;
    text-align: center;
}

#userError{
    color: red;
}

#historyCard{
    margin-top: 25px;
    width:97%;
}


#videoHistoryTable{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.table tbody tr th{
    background-color: #cbcbcb;
    color: #000;
}
