/* forum */
html,body {
    font-family: "Arial";
    font-size: 100%;
    }
    body {
        background-color: #d2d2d2;
        height: 50px;
        }
    /* HEADER CSS */
    .material-icons {
    font-size: 36px;
    top: 8px;
    position: relative;
    }
    .mdl-layout__header-row span {
    margin-left: 15px;
    margin-top: 17px;
    }
    .mdl-grid {
    max-width: 1024px;
    margin: auto;
    }
    .mdl-layout__header-row {
    padding: auto;
    margin: 0 auto;
    } 
    .mdl-button .material-icons {
    top: -1px;
    margin-right: 5px;
    } 

    @media screen and (max-width: 610px) {
    header {
    height: 80px;
    padding-bottom: 80px !important;
    }
    .mdl-card {
    width: 100%;
    }
    }
    .img-centre {
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
    #nav-icons{
    font-size: 30px;
    padding-bottom: 20px;
    }
    i.icon-teal{
    color:#006DAE;
    }
    i.icon-teal2{
    color:#006DAE;
    }
    .mdl-navigation__link{
    font-size: 16px;
    text-align: left;
    padding-left: 0;
    padding-right: 3;
    }
    .mdl-grid-body{
    margin: 0;
    padding: 0;
    }
    #g_translate_icon{
    font-size: 30px;
    color: white;
    padding: 5px 16px;
    }
    #favourite_post_icon{
    font-size: 17px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: white
    }
    button.favourite{
    border-radius: 15px;
    margin: 0 0 0 10px;
    }
    #interest1_id
    {
    background-color: #00ac3e; 
    position: relative;
    border-radius: 12px; 
    }
    #interest2_id
    {
    background-color: #c00095 ;
    position: relative;
    border-radius: 12px;
    }    

    @media all and (min-width:551px) {
    /* laptop */
    .mobile-br {display: none;}
    .demo-card-wide{
    width: 764px;
    border-radius: 20px;
    background: #E4E4E4;
    
    }
    .lang_butt {
    margin: 2%; 
    width:30%; 
    background-color: #006DAE;
    }
    #lang_text{
    display: inline;
    }
    }


    @media all and (max-width: 1000px) {
    /* phone */
    .mobile-br {display:inline;}
    .demo-card-wide{
    width: 100%;
    border-radius: 20px;
    background: #E4E4E4;
    }
    .lang_butt {
    margin: 10%; 
    width:60%; 
    background-color: #006DAE;
    }
    #lang_text{
    display: none;
    }
    #interest1_id
    {
    left: 10px; 
    }
    #interest2_id
    {
    left:10px;
    }

    .seacrh-container
    {
        justify-content: center;  
        width:95% ;
        margin-left:8px;
    }
    .forum-container
    {
        justify-content: center;  
        width:95% ;
        margin-left:8px;
    }
    .container {
        margin-top: 12px;
        justify-content: center;
        }
    }

    #like_post_btn
    {
    color: black;
    border: 2px solid #2bbd7e;
    width: 100px
    }
    #dislike_post_btn
    {
    color: black;
    border: 2px solid #e53935;
    width: 100px 
    }
    .favourite
    {
    color: black;
    border: 2px solid blue;
    width: max-content;
    }
    /* All below is for the tab navigation */
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
    :root {
    --primary-color: #006DAE;
    --secondary-color: #E4E4E4;
    }
    *, *:after, *:before {
    box-sizing: border-box;
    }


    .tabs * {
    z-index: 2;
    }
    input[type="radio"] {
    display: none;
    position: relative;
    bottom: 10px
    }
    .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 200px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 25px;
    cursor: pointer;
    transition: color 0.15s ease-in;
    }
    #h3
    {
    position:relative; 
    left:300px;
    }
   
    @media all and (min-width:800px) {
    /* laptop */
    h3{
    position: relative;
    left: 330px;
    }
    
    .container {
    position: relative;
    top: 12px;
    left: 25px;
    display: flex;
    justify-content: center;
    }
    .search-container
    {
    position: relative;
    top: 12px;
    left: 25px;
    display: flex;
    justify-content: center;
    }
    .search-container:hover
    {
    transform: scale(1.1);
    transition: 0.25s;
    }
    .forum-container
    {
        position: relative;
        display: flex;
        justify-content: center;   
    }
    .tabs {
    display: flex;
    position: relative;
    right:29px;
    background-color: #fff;
    box-shadow: 0 0 1px 0 #dadada, 0 6px 12px 0 #dadada;
    padding: 0.75rem;
    border-radius: 15px;
    height: 50px;
    width: 734px;
    }
    #tab1
    {
    position: relative; 
    bottom: 10px; 
    left: 40px
    }
    #tab2
    {
    position: relative; 
    bottom: 10px; 
    left: 190px
    }
    /* #tab3
    {
    position: relative; 
    bottom: 10px; 
    left: 40px
    } */
    input[type="radio"]:checked + label {
    color: var(--primary-color);
    position: relative;
    bottom: 10px
    }
    input[type="radio"]:checked + label > .notification {
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
    bottom: 10px
    }
    .glider {
    position: absolute;
    bottom: 5px;
    height: 40px;
    width: 180px;
    background-color: var(--secondary-color);
    z-index: 1;
    border-radius: 25px;
    transition: 0.25s ease-out;
    }
    input[id="radio-1"]:checked ~ .glider {
    transform: translateX(25%);
    }
    input[id="radio-2"]:checked ~ .glider {
    transform: translateX(220%);
    }
    /* input[id="radio-3"]:checked ~ .glider {
    transform: translateX(250%);
    } */
    #more_btn
    {
    border-radius: 10px;
    margin: 0 0 0 20px;
    color: white;
    background-color: #006DAE;
    position: relative;
    width: 160px;
    left: 290px
    }
    #date_posted{
    position: relative;
    font-size: 20px;
    color:#383838;
    top: 5px; 
    text-align: left; float: left; left: 10px;
    }
    #interest1_id
    {
    left: 450px; 
    }
    #interest2_id
    {
    left:460px;
    }
    }
    @media all and (max-width: 1024px) {
    /* mobile */
    h3{
    position: relative;
    left: 40px;
    }
    .tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 #dadada, 0 6px 12px 0 #dadada;
    padding: 0.75rem;
    border-radius: 15px;
    height: 70px;
    width: 355px;
    }
    input[type="radio"]:checked + label {
    color: var(--primary-color);
    }
    input[type="radio"]:checked + label > .notification {
    background-color: var(--primary-color);
    color: #fff;
    }
    .glider {
    position: absolute;
    bottom: 7px;
    height: 55px;
    width: 130px;
    background-color: var(--secondary-color);
    z-index: 1;
    border-radius: 25px;
    transition: 0.25s ease-out;
    }
    input[id="radio-1"]:checked ~ .glider {
    transform: translateX(15%);
    }
    input[id="radio-2"]:checked ~ .glider {
    /* transform: translateX(100%);
    }
    input[id="radio-3"]:checked ~ .glider { */
    transform: translateX(140%);
    }
    #more_btn
    {
    border-radius: 10px;
    margin: 0 0 0 20px;
    color: white;
    background-color: #006DAE;
    position: relative;
    width: 25%;
    left: 10px
    }
    #date_posted{
    position: relative;
    left: 10px;
    font-size: 20px;
    color:#33322f;
    top: 5px; 
    }
    }


    .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    }
    /* Modal Content */
    .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
    overflow: auto;
    }
    #topheader
    {
    background-color: #006DAE;
    }
    /* post */
    .comment_input, .reply_input{
    width: 95%;
    margin: 10px;
    border-radius: 10px;
    height: 30px;
    }
    #send_comment_btn:hover{
    border: black;
    }
    .mdl-checkbox{
    position: absolute;
    display:inline;
    margin-top:10px;
    margin-left: 15px;
    }
    .comment_section{
    margin:10px;
    }
    .mdl-checkbox__label{
    font-weight: 400;
    color: white;
    }
    p{
    margin: 0 0 10px 20px;
    font-size: medium;
    font-weight: 400;
    padding: 10px;
    max-width: 100%;
    position: relative;
    bottom: 20px;
    right: 5px
    }
    #reply_comment_icon{
    font-size: 20px;
    }
    #send_reply_icon
    {
    font-size: 17px;
    }
    button.reply{
    border-radius: 15px;
    margin: 2px 0 0 8px;
    }
    .hideTextInput, .hideButton, .hideReply{
    display: none;
    }
    .showTextInput{
    display: inline-block;
    }
    .showButton{
    display: inline;
    }
    #username
    {
    font-weight: bold;
    position: relative;
    left: 7px;
    top: 3px
    }
    #comment_date_posted
    {
    font-size: 12px;
    color: #454746;
    position: relative;
    bottom: 9px;
    left: 7px;
    }
    #user_comment
    {
    position: relative;
    right: 18px;
    top: 5px
    }
    #entire-comment
    {
    background-color:white;
    }
  
    .reply{
    position: relative;
    }
    .hideButton
    {
    position: relative;
    }
    .verticalLine {
    border-left: thick solid #006DAE;
    position: relative;
    left: 12px;
    height:fit-content;
    bottom: 10px;
    }
    .lang_butt {
    margin: 10%; 
    width:60%; 
    background-color: #006DAE;
    }
    #lang_text{
    display: none;
    }

    @media all and (min-width:551px) {
    /* laptop */
    .lang_butt {
    margin: 2%; 
    width:30%; 
    background-color: #006DAE;
    }
    #back_btn
    {
    display: none
    }
    #lang_text{
    display: inline;
    }
    #send_comment_btn, #send_reply_btn{
    color: white;
    border-radius: 13px;
    height: 35px;
    width: 156px;
    cursor: pointer;
    border: white;
    border:10px;
    margin-left: 550px;
    background: #006DAE;
    }
    #reply_box
    {
    margin:10px;
    background-color: white;
    width:95%
    }
    #comment_reply_input{
    width: 80%;
    margin: 10px;
    border-radius: 10px;
    height: 30px;
    }
    }
    @media all and (max-width: 1000px) {
    /* phone */
    #reply_box
    {
    margin:0 10px;
    background-color: white;
    width:90%
    }
    #send_reply_btn, #send_comment_btn{
    border-radius: 15px;
    width: 10px;
    position: relative;
    left: 267px;
    background-color:#006DAE;
    color: white;
    }
    #comment_reply_input{
    width: 70%;
    margin: 10px;
    border-radius: 10px;
    height: 30px;
    }
    }
    .mobileHide { display: inline; }
    /* Smartphone Portrait and Landscape */
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){
    .mobileHide { display: none;}
    #back_btn {
    border-radius: 20px;
    background-color: #00507e;
    color: white;    
    position: relative;
    left: 25px;
    top:5px
    }
    #back_btn:hover {
    background-color:#006098;
    }
    #back_btn_icon{
    font-size: 20px;
    }
    }
    /* #favourite_post_btn
    {
    color: black;
    border: 2px solid blue;
    width: 230px;
    } */

    .mdl-checkbox {
    display: inline;     
    width: 200px;
    }
    #delete_post_btn
    {
    display: inline;
    position: relative;
    left: 88%;
    bottom: 70px
    }
    #delete_post_btn
    {
    display: inline;
    position: relative;
    left: 88%;
    bottom: 70px
    }
    #delete_post_icon
    {
    font-size:40px;
    color: black;
    }

    /* all likes related */
    .like
    {
    color: black;
    border: 2px solid #2bbd7e;
    width: 100px;
    border-radius: 15px;
    margin: 0 0 0 10px;
    }
    .dislike
    {
    color: black;
    border: 2px solid #e53935;
    width: 100px;
    border-radius: 15px;
    margin: 0 0 0 10px;
    }
        
    .like:hover
    {
    color: white;
    background-color:#2bbd7e;
    }
    .dislike:hover
    {
    background-color:#e53935;
    color: white;
    }
    #like_post_icon, #dislike_post_icon{
    height: 22px;
    margin-bottom: 5px;
        
    }

   /* favourite */
   .favourite
   {
   color: black;
   border: 2px solid blue;
   width: max-content;
   border-radius: 15px;
   margin: 0 0 0 10px;
   }

   #favourite_post_icon{
    height: 22px;
    margin-bottom: 5px;
    }

    .favourite:hover
    {
    background-color:blue;
    color: white;
    }


    @media all and (max-width: 1024px) {
        /* mobile */
        .search {
            position: relative;
            left:30px;
            display: flex;
            justify-content: center;
            margin-top: 20px;
            height: 65px;
            background-color: #fff;
            box-shadow: 0 0 1px 0 #dadada, 0 6px 12px 0 #dadada;
            padding: 0.75rem;
            border-radius: 15px;
            width: 325px;
        }

        #searchButton{
            background-color:#006DAE;
            padding-right: 50px;
            margin-top: 5px;
            border-radius: 15px;
        }

        .search:hover #icon-background{
            margin-right: 15px;
            transform: scale(1.1);
            transition: 0.25s;
        }
    }



    @media all and (min-width:800px) {
    .search {
        height: 65px;
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: auto;
        margin-top: 20px;
        background-color: #fff;
        box-shadow: 0 0 1px 0 #dadada, 0 6px 12px 0 #dadada;
        right:29px;
        padding: 0.75rem;
        border-radius: 15px;
        width: 600px;
    }

    .search:hover #icon-background{
        margin-right: 15px;
        transform: scale(1.1);
        transition: 0.25s;
    }

    #searchButton{
        background-color:#006DAE;
        padding-right: 50px;
        margin-top: 3px;
        border-radius: 15px;
    }
}

@media only screen and (max-device-width: 600px){
    .search{
        height: 70px;
    }

    #searchButton{
        background-color:#006DAE;
        padding-right: 50px;
        margin-top: 5px;
        border-radius: 15px;
    }

    .search:hover #icon-background{
        margin-right: 15px;
        transform: scale(1.1);
        transition: 0.25s;
    }
}
    .search-input {
        padding-left: 2px;
        color: white;
        border: 0;
        outline: 0;
        background: none;
        width: 200%;
        margin-top: 5px;
        caret-color: transparent;
        line-height: 20px;
        transition: width 0.4s linear
    }
    
    .search .search-input {
        width: 200%;
        caret-color: #006DAE;
        font-size: 19px;
        font-weight: 300;
        color: black;
        transition: width 0.4s linear
    }
    
    a:link {
        text-decoration: none
    }

#search-icon{
    color:#006DAE;
    margin-bottom: 250px;
}


.search:hover #icon-background{
    margin-right: 15px;
    transform: scale(1.1);
    transition: 0.25s;
}


.nav_icon, #translate_icon
{
    height: 50px;
    position: relative;
    right: 10px;
    width: 49px; 
}

#recommender_icon
{
   width: 49px; 
}

